@import "tailwindcss";

@layer base {
  .prose {
    font-size: var(--prose-font-size, 18px) !important;
    line-height: var(--prose-line-height, 1.0) !important;
  }

  .prose p {
    margin-bottom: var(--prose-paragraph-spacing, 0.5rem) !important;
  }

  .prose p:last-child {
    margin-bottom: 0 !important;
  }
}