---
import Layout from "../layouts/Layout.astro";
import * as entry from "../../content/pages/about.de.md";

const { frontmatter, Content } = entry;
---

<Layout title={frontmatter.title}>
    <div class="text-justify about-content max-w-4xl mx-auto">
        <h1 class="font-bold mb-5 text-2xl">{frontmatter.title}</h1>
        <Content />
    </div>
</Layout>

<style>
    .about-content :global(p) {
        margin-bottom: 1.5em !important;
    }
</style>
