---
const glob3 = import.meta.glob("../../content/works/*.md", { eager: true });
const glob4 = import.meta.glob("../../../content/works/*.md", { eager: true });
const glob5 = import.meta.glob("../../../../content/works/*.md", {
    eager: true,
});
const globSrc = import.meta.glob("../content/works/*.md", { eager: true });

const results = {
    dir_of_file: "src/pages/",
    "../../../content/works/*.md (3 levels)": Object.keys(glob3).length,
    "../../../../content/works/*.md (4 levels)": Object.keys(glob4).length,
    "../../../../../content/works/*.md (5 levels)": Object.keys(glob5).length,
    "../content/works/*.md (1 level to src/content)":
        Object.keys(globSrc).length,
};
---

<html>
    <body>
        <h1>Glob Debug</h1>
        <pre>{JSON.stringify(results, null, 2)}</pre>

        <h2>Keys for glob4</h2>
        <pre>{JSON.stringify(Object.keys(glob4), null, 2)}</pre>
    </body>
</html>
