---
import BaseLayout from "../layouts/BaseLayout.astro";
import * as entry from "../../content/pages/impressum.de.md";

const { frontmatter, Content } = entry;
---

<BaseLayout title={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <Content />
</BaseLayout>
