---
import Layout from "../layouts/Layout.astro";
---

// Daten aus der Markdown-Datei laden
const entries = await Astro.glob("../../content/pages/home.de.md");
const { frontmatter, Content } = entries[0];


<Layout title="Sven Vollbrecht – Startseite">
  <div class="mt-16 text-center">
    {frontmatter.image && (
      <img 
        src={frontmatter.image} 
        alt={frontmatter.title} 
        class="mx-auto mb-8 max-h-[70vh] w-auto max-w-full object-contain"
      />
    )}
    <Content />
  </div>
</Layout>
