---
// This page performs a silent redirect to the default locale
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="0;url=/de/" />
        <script type="text/javascript">
            window.location.href = "/de/";
        </script>
        <title>Sven Vollbrecht</title>
    </head>
    <body style="background: white;"> </body>
</html>
