---
import Layout from "../layouts/Layout.astro";
import type { MarkdownInstance } from "astro";

// Load entries
const entries = import.meta.glob<MarkdownInstance<any>>(
    "../../content/pages/home.de.md",
    { eager: true },
);
const entry = Object.values(entries)[0];
const { frontmatter, Content } = entry;

const title = "Sven Vollbrecht – Startseite";
---

<Layout title={title}>
    <div class="mt-16 text-center">
        {
            frontmatter.image && (
                <img
                    src={frontmatter.image}
                    alt={frontmatter.title}
                    class="mx-auto mb-8 max-h-[70vh] w-auto max-w-full object-contain"
                />
            )
        }
        <div class="prose prose-gray mx-auto">
            <Content />
        </div>
    </div>
</Layout>
